<div class="modal fade"
     bsModal
     #staticModal="bs-modal"
     [config]="{backdrop: 'static', keyboard: false}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-static-name">

  <div class="modal-dialog custom-width">

    <div class="modal-content">

      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title">VRRP Configuration</h4>
      </div>

      <div class="modal-body">

        <form (keydown.enter)="$event.preventDefault()" [formGroup]="vrrpForm">

          <div class="form-row row">


            <div class="col-md-6">
              <label for="vrrpIP">Enter VRRP IP
                <div class="info">
                  <app-right-tooltip
                    [toolTipText]="getToolTipText('as')"></app-right-tooltip>
                </div>
              </label>


              <input
                type="text"
                id="vrrpIP"
                #vrrpIP
                formControlName="vrrp_ip"
                class="form-control"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '');"
                (keyup)="checkButtonInput()">

              <!-- (keyup)="checkVrrpIP(vrrpIP.value, $event)"-->
             <div *ngIf="!apiError">
               <div
                *ngIf="vrrpForm.get('vrrp_ip').invalid && (vrrpForm.get('vrrp_ip').dirty || vrrpForm.get('vrrp_ip').touched)">
                <div class="text-danger pull-left" *ngIf="vrrpForm.get('vrrp_ip').errors['required'] ">
                  IP address is required.
                </div>
                <div class="text-danger" *ngIf="vrrpForm.get('vrrp_ip').errors['pattern']">Enter valid IP address
                </div>
                <div class="text-danger"
                     *ngIf="vrrpForm.get('vrrp_ip').errors['restrictedIP'] && !vrrpForm.get('vrrp_ip').errors['pattern'] && !vrrpForm.get('vrrp_ip').errors['required']">
                  Enter valid IP address
                </div>
                <div class="text-danger"
                     *ngIf="vrrpForm.get('vrrp_ip').errors['notInRange'] &&  !vrrpForm.get('vrrp_ip').errors['restrictedIP'] && !vrrpForm.get('vrrp_ip').errors['pattern'] && !vrrpForm.get('vrrp_ip').errors['required']">
                  IP Address is not in valid Range
                </div>
                <!--<div class="text-danger"-->
                     <!--*ngIf="apiError || (!vrrpForm.get('vrrp_ip').errors['restrictedIP'] && !vrrpForm.get('vrrp_ip').errors['pattern'] && !vrrpForm.get('vrrp_ip').errors['required'])">-->
                  <!--VRRP IP is out of WLC's network-->
                <!--</div>-->
              </div>
             </div>
              <div class="text-danger" *ngIf="apiError">
                {{ apiErrorMessage }}
              </div>
            </div>

            <div class="col-md-6">
              <label><strong>WLC IP :</strong> {{ wlc_ip }}</label>
              <label><strong>NetMask :</strong> {{ netmask_wlc }}</label>
              <!--<label>VRRP NetMask : {{ netmask_vrrp }}</label>-->
            </div>

          </div>

          <div class="form-row custom-align">

            <button (click)="onReset()" class="btn btn-cancel btn-large">Reset</button>
            <button (click)="onSubmit()" class="btn btn-cancel btn-large btnalign" [disabled]="vrrpForm.invalid">Submit</button>
            <!--<button (click)="onSubmit()" class="btn btn-cancel btn-large" [disabled]="vrrpForm.invalid || btnDisable">Submit</button>-->

          </div>


        </form>

      </div>
    </div>
  </div>
</div>


<div class="page-content-wrapper page-content-stats">

  <div class="wrapper">
      <div class="row" id="main">

      <div class="col-lg-6 col-xs-12 col-sm-6 widget_pos"  id="apStatus"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div  id="drag0" draggable="true"  (dragstart)="drag($event)"><span [ngClass]="apStatus"><ap-status-chart [visibleStatus]="apStatus_bool" [data]="apStatusData" (deleteWidget)="deleteWidget($event)"></ap-status-chart></span></div></div>
      <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="alarm"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div  id="drag1" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="alarm"><alarm-status [visibleStatus]="alarm_bool" [data]="alarmData" (deleteWidget)="deleteWidget($event)"></alarm-status></span></div></div>

      <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="accessPoint"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div   id="drag2" draggable="true"  (dragstart)="drag($event)"><span [ngClass]="accessPoint"><access-point-chart [visibleStatus]="accessPoint_bool" (deleteWidget)="deleteWidget($event)"></access-point-chart></span></div></div>
      <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="clientTop"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div   id="drag3" draggable="true"  (dragstart)="drag($event)"><span [ngClass]="clientTop"><client-top-charts [visibleStatus]="clientTop_bool" (deleteWidget)="deleteWidget($event)"></client-top-charts></span></div></div>

        <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="apTraffic"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div  id="drag4" draggable="true"  (dragstart)="drag($event)"> <span [ngClass]="apTraffic"><aptraffic-chart [visibleStatus]="apTraffic_bool" (deleteWidget)="deleteWidget($event)"></aptraffic-chart></span></div></div>
        <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="groupTraffic"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag5" draggable="true"  (dragstart)="drag($event)"><span [ngClass]="groupTraffic"><group-traffic-chart [visibleStatus]="groupTraffic_bool" (deleteWidget)="deleteWidget($event)"></group-traffic-chart></span></div></div>

        <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="cpuUtilizationTop"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag6" draggable="true"  (dragstart)="drag($event)"> <span  [ngClass]="cpuUtilizationTop"><cpu-utilization-chart [visibleStatus]="cpuUtilizationTop_bool" [data]="wlcCPUData" (deleteWidget)="deleteWidget($event)"></cpu-utilization-chart></span></div></div>
        <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="memoryUtilizationTop"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag7" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="memoryUtilizationTop"><memory-utilization-chart [visibleStatus]="memoryUtilizationTop_bool"  [data]="wlcMemory" (deleteWidget)="deleteWidget($event)"></memory-utilization-chart></span></div></div>

        <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="clientsGroup"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag8" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="clientsGroup"><clients-group-chart [visibleStatus]="clientsGroup_bool" [data]="clientGroupData" (deleteWidget)="deleteWidget($event)"></clients-group-chart></span></div></div>
        <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="clientssid"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag9" draggable="true"  (dragstart)="drag($event)"><span [ngClass]="clientssid"><clients-ssidchart [visibleStatus]="clientssid_bool"  [data]="clientSSIDData" (deleteWidget)="deleteWidget($event)"></clients-ssidchart></span></div></div>

      <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="wlcInfo"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag10" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="wlcInfo"><wlc-info-chart  [visibleStatus]="wlcInfo_bool" [data]="wlcInfoData" (deleteWidget)="deleteWidget($event)"></wlc-info-chart></span></div></div>
      <div  class="col-lg-6 col-xs-12 col-sm-6 widget_pos" id="groupsTop"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag11" draggable="true"  (dragstart)="drag($event)"><span [ngClass]="groupsTop"><group-top-chart [visibleStatus]="groupsTop_bool" [data]="wlcNetworkData" (deleteWidget)="deleteWidget($event)"></group-top-chart></span></div></div>
    </div>

    </div>
     
        <!--<div class="row">
            <ap-status-chart></ap-status-chart>
            <alarm-status></alarm-status>

        </div>
        <div class="row">
             <access-point-chart></access-point-chart>
             <client-top-charts></client-top-charts>

  </div>

  <div class="row">
      <span  [ngClass]="apTraffic"><aptraffic-chart [visibleStatus]="apTraffic_bool"></aptraffic-chart></span>
        <span  [ngClass]="apTraffic"><group-traffic-chart [visibleStatus]="apTraffic_bool"></group-traffic-chart></span>

  </div>
  <div class="row">
      <span  [ngClass]="cpuUtilizationTop"><cpu-utilization-chart [visibleStatus]="cpuUtilizationTop_bool"></cpu-utilization-chart></span>
        <span  [ngClass]="cpuUtilizationTop"><memory-utilization-chart [visibleStatus]="cpuUtilizationTop_bool"></memory-utilization-chart></span>

  </div>
  <div class="row">
        <span  [ngClass]="clientsGroup"><clients-group-chart [visibleStatus]="clientsGroup_bool"></clients-group-chart></span>
        <span  [ngClass]="clientsGroup"> <clients-ssidchart [visibleStatus]="clientsGroup_bool"></clients-ssidchart></span>



  </div>
  <div class="row">
    <span  [ngClass]="groupsTop"><wlc-info-chart  [visibleStatus]="groupsTop_bool"></wlc-info-chart></span>
    <span  [ngClass]="groupsTop"><group-top-chart [visibleStatus]="groupsTop_bool"></group-top-chart></span>

        </div>-->
    </div>

