<div class="modal fade"
     bsModal
     #staticModal="bs-modal"
     [config]="{backdrop: 'static', keyboard: false}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="dialog-static-name">

  <div class="modal-dialog custom-width">

    <div class="modal-content">

      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title">VRRP Configuration</h4>
      </div>

      <div class="modal-body">

        <form (keydown.enter)="$event.preventDefault()" [formGroup]="vrrpForm">

          <div class="form-row row">


            <div class="col-md-6">
              <label for="vrrpIP">Enter VRRP IP
                <div class="info">
                  <app-right-tooltip
                    [toolTipText]="getToolTipText('as')"></app-right-tooltip>
                </div>
              </label>


              <input
                type="text"
                id="vrrpIP"
                #vrrpIP
                formControlName="vrrp_ip"
                class="form-control"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '');"
                (keyup)="checkVrrpIP(vrrpIP.value, $event)">

              <!-- (blur)="checkVrrpIP(vrrpIP.value, $event)"-->
             <div *ngIf="!apiError">
               <div
                *ngIf="vrrpForm.get('vrrp_ip').invalid && (vrrpForm.get('vrrp_ip').dirty || vrrpForm.get('vrrp_ip').touched)">
                <div class="text-danger pull-left" *ngIf="vrrpForm.get('vrrp_ip').errors['required'] ">
                  IP address is required.
                </div>
                <div class="text-danger" *ngIf="vrrpForm.get('vrrp_ip').errors['pattern']">Enter valid IP address
                </div>
                <div class="text-danger"
                     *ngIf="vrrpForm.get('vrrp_ip').errors['restrictedIP'] && !vrrpForm.get('vrrp_ip').errors['pattern'] && !vrrpForm.get('vrrp_ip').errors['required']">
                  Enter valid IP address
                </div>
                <div class="text-danger"
                     *ngIf="vrrpForm.get('vrrp_ip').errors['notInRange'] &&  !vrrpForm.get('vrrp_ip').errors['restrictedIP'] && !vrrpForm.get('vrrp_ip').errors['pattern'] && !vrrpForm.get('vrrp_ip').errors['required']">
                  IP Address is not in valid Range
                </div>
                <!--<div class="text-danger"-->
                     <!--*ngIf="apiError || (!vrrpForm.get('vrrp_ip').errors['restrictedIP'] && !vrrpForm.get('vrrp_ip').errors['pattern'] && !vrrpForm.get('vrrp_ip').errors['required'])">-->
                  <!--VRRP IP is out of WLC's network-->
                <!--</div>-->
              </div>
             </div>
              <div class="text-danger" *ngIf="apiError">
                VRRP IP is out of WLC's network
              </div>
            </div>

            <div class="col-md-6">
              <label><strong>WLC IP :</strong> {{ wlc_ip }}</label>
              <label><strong>NetMask :</strong> {{ netmask_wlc }}</label>
              <!--<label>VRRP NetMask : {{ netmask_vrrp }}</label>-->
            </div>

          </div>

          <div class="form-row custom-align">

            <button (click)="onSubmit()" class="btn btn-cancel btn-large" [disabled]="vrrpForm.invalid || btnDisable">Submit</button>
            <button (click)="onReset()" class="btn btn-cancel btn-large">Reset</button>

          </div>


        </form>

      </div>
    </div>
  </div>
</div>


<div class="page-content-wrapper page-content-stats">
<!--

<div id="div1"  (drop)="drop($event)" (dragover)="allowDrop($event)">
        <img id="drag1" src="img_logo.gif" draggable="true"  (dragstart)="drag($event)" width="336" height="69">
    </div>
    <br>
    <div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <img id="drag2" src="img_logo.gif" draggable="true"  (dragstart)="drag($event)" width="236" height="49">
    </div>
     <div id="div3" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <img id="drag3" src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350" draggable="true"  (dragstart)="drag($event)" width="236" height="49">
    </div>-->
  <div class="wrapper">
    <div class="row">

        <div class="wrapper">
            <div class="row">

           <div class="col-lg-6 col-xs-12 col-sm-6"  id="div1"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div  id="drag1" draggable="true"  (dragstart)="drag($event)"><ap-status-chart ></ap-status-chart></div></div>
           <div  class="col-lg-6 col-xs-12 col-sm-6" id="div2"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div  id="drag2" draggable="true"  (dragstart)="drag($event)"><alarm-status></alarm-status></div></div>

            <div  class="col-lg-6 col-xs-12 col-sm-6" id="div3"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div   id="drag3" draggable="true"  (dragstart)="drag($event)"><access-point-chart></access-point-chart></div></div>
            <div  class="col-lg-6 col-xs-12 col-sm-6" id="div4"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div   id="drag4" draggable="true"  (dragstart)="drag($event)"><client-top-charts></client-top-charts></div></div>

             <div  class="col-lg-6 col-xs-12 col-sm-6" id="div5"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div  id="drag5" draggable="true"  (dragstart)="drag($event)"> <span  [ngClass]="apTraffic"><aptraffic-chart [visibleStatus]="apTraffic_bool"></aptraffic-chart></span></div></div>
              <div  class="col-lg-6 col-xs-12 col-sm-6" id="div6"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag6" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="apTraffic"><group-traffic-chart [visibleStatus]="apTraffic_bool"></group-traffic-chart></span></div></div>

              <div  class="col-lg-6 col-xs-12 col-sm-6" id="div7"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag7" draggable="true"  (dragstart)="drag($event)"> <span  [ngClass]="cpuUtilizationTop"><cpu-utilization-chart [visibleStatus]="cpuUtilizationTop_bool"></cpu-utilization-chart></span></div></div>
              <div  class="col-lg-6 col-xs-12 col-sm-6" id="div8"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag8" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="cpuUtilizationTop"><memory-utilization-chart [visibleStatus]="cpuUtilizationTop_bool"></memory-utilization-chart></span></div></div>

             <div  class="col-lg-6 col-xs-12 col-sm-6" id="div9"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag9" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="clientsGroup"><clients-group-chart [visibleStatus]="clientsGroup_bool"></clients-group-chart></span></div></div>
             <div  class="col-lg-6 col-xs-12 col-sm-6" id="div10"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag10" draggable="true"  (dragstart)="drag($event)"> <span  [ngClass]="clientsGroup"> <clients-ssidchart [visibleStatus]="clientsGroup_bool"></clients-ssidchart></span></div></div>

            <div  class="col-lg-6 col-xs-12 col-sm-6" id="div11"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag11" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="groupsTop"><wlc-info-chart  [visibleStatus]="groupsTop_bool"></wlc-info-chart></span></div></div>
            <div  class="col-lg-6 col-xs-12 col-sm-6" id="div12"  (drop)="drop($event)" (dragover)="allowDrop($event)"><div id="drag12" draggable="true"  (dragstart)="drag($event)"><span  [ngClass]="groupsTop"><group-top-chart [visibleStatus]="groupsTop_bool"></group-top-chart></span></div></div>
         </div>
       </div>
        <!--<div class="row">
            <ap-status-chart></ap-status-chart>
            <alarm-status></alarm-status>

        </div>
        <div class="row">
             <access-point-chart></access-point-chart>
             <client-top-charts></client-top-charts>

  </div>

  <div class="row">
      <span  [ngClass]="apTraffic"><aptraffic-chart [visibleStatus]="apTraffic_bool"></aptraffic-chart></span>
        <span  [ngClass]="apTraffic"><group-traffic-chart [visibleStatus]="apTraffic_bool"></group-traffic-chart></span>

  </div>
  <div class="row">
      <span  [ngClass]="cpuUtilizationTop"><cpu-utilization-chart [visibleStatus]="cpuUtilizationTop_bool"></cpu-utilization-chart></span>
        <span  [ngClass]="cpuUtilizationTop"><memory-utilization-chart [visibleStatus]="cpuUtilizationTop_bool"></memory-utilization-chart></span>

  </div>
  <div class="row">
        <span  [ngClass]="clientsGroup"><clients-group-chart [visibleStatus]="clientsGroup_bool"></clients-group-chart></span>
        <span  [ngClass]="clientsGroup"> <clients-ssidchart [visibleStatus]="clientsGroup_bool"></clients-ssidchart></span>



  </div>
  <div class="row">
    <span  [ngClass]="groupsTop"><wlc-info-chart  [visibleStatus]="groupsTop_bool"></wlc-info-chart></span>
    <span  [ngClass]="groupsTop"><group-top-chart [visibleStatus]="groupsTop_bool"></group-top-chart></span>

        </div>-->
    </div>

