  <div class="icon-position" >
        <span class="glyphicon glyphicon-info-sign color" style="font-size: 15px;" aria-hidden="true" [popover]="getData()"
              popoverPlacement="right"
              [popoverCloseOnClickOutside]="false"
              [popoverDismissTimeout]="10000"
              >
        </span>
  </div>

  <!--<div class="icon-position" >-->
    <!--<div popover="helptext"-->
         <!--popoverPlacement="right"-->
         <!--[popoverOnHover]="false"-->
         <!--[popoverCloseOnClickOutside]="false"-->
         <!--[popoverCloseOnMouseOutside]="false"-->
         <!--[popoverDisabled]="false"-->
         <!--[popoverAnimation]="true"-->
         <!--[popoverDismissTimeout]="5000">-->
      <!--?-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="icon-position">-->
    <!--<popover-content class="modifiedtooltip" #myPopover title="WLC Name?" [closeOnClickOutside]="false">-->
      <!--<span style="color: black; text-align: center" >This is the input filed for WLC Name you should a valid Name</span>-->
    <!--</popover-content>-->
    <!--<span [popover]="myPopover" popoverPlacement="right">help?</span>-->
  <!--</div>-->
