<div class="container ">

  <div>
        <span class="glyphicon glyphicon-question-sign blue" style="font-size: 20px " aria-hidden="true" [popover]="getData()"
              popoverPlacement="up"
              [popoverOnHover]="false"
              [popoverCloseOnMouseOutside]="false">
        </span>
  </div>


  <!--<div>-->
    <!--<popover-content class="modifiedtooltip" #myPopover title="WLC Name?" [closeOnClickOutside]="false">-->
      <!--<span style="color: black; text-align: center" >This is the input filed for WLC Name you should a vaild Name</span>-->
    <!--</popover-content>-->
    <!--<span [popover]="myPopover" popoverPlacement="right">help?</span>-->
  <!--</div>-->


</div>
