<div class="container-fluid display-table">
  <div class="row display-table-row">
      <app-sidebar></app-sidebar>
      <div class="col-md-10 col-sm-11 display-table-cell v-align">
          <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
          <div class="row">
              <app-header></app-header>
          </div>
          <div class="container">
              <!--table  class="table table-striped">
                  <thead>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Age</th>
                      <th>District</th>
                  </thead>
                  <tbody *ngFor="let user of users">
                      <td>{{user.name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.age}}</td>
                      <td>{{user.place}}</td>
                  </tbody>
              </table-->

              <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th >
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                    </th>
                    <th >
                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                    <th >
                        <mfDefaultSorter by="age">Age</mfDefaultSorter>
                    </th>
                    <th >
                        <mfDefaultSorter by="city">City</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of mf.data"> 
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.place | uppercase}}</td> 
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator ></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>


          </div>
      </div>
  </div>

</div>




