input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
::ng-deep mfdefaultsorter .glyphicon{
    display: none;
}
.align{
  margin-right: -250px;
}
::ng-deep .btn-blank {
    color: #fff;
    background-color: #f76f6f;
    border-color: #f76f6f !important;
    padding: 6px 20px;
    width: 100%;
    height: 50px;
    font-size: 18px;
}
::ng-deep .activeIcon{
    font-weight: bold;

    color: #fff !important;
}
::ng-deep .btn-blank:hover{
    color: #fff;
    background-color: #f76f6f;
    border-color:#f76f6f !important;
}
::ng-deep .modal-footer {
    padding: 0px;

}
::ng-deep .modal-content {
    padding: 0;
    width:500px !important;
}
::ng-deep .modal-body {
    height: 180px;
    padding: 0;
    text-align: center;
    padding-top: 15px;
}
::ng-deep .error-icon{
    font-size: 60px;
   color: #f76f6f;
}
::ng-deep .error-modal-p1{
    padding-top: 25px;
    font-size: 20px;

}
::ng-deep .error-modal-p2{

    font-size: 15px;

}
::ng-deep .eye-icon{
    font-size: 14px !important;
    margin-left: 0 !important;
    position: relative;
    top: 2px;
}
::ng-deep .btn-eye{
    outline: none !important;;
    background-color: #fff !important;
    border: 1px solid #ccc !important;;
    border-left: none !important;

}
::ng-deep .btn-eye:hover{
    background-color: #fff;
 }
 .no-anchor{
    text-decoration: none;
}
::ng-deep .btn-invalid{
    border-bottom: 1px solid #dc3545 !important;
    border-right: 1px solid #dc3545 !important;
    border-top: 1px solid #dc3545 !important;
}
::ng-deep .save-btn{
    height: 35px;
}
::ng-deep .list-pagination{
    float: right;
    height: 32px !important;
}
::ng-deep .nav-tabs {
    margin-bottom: 0px;
    padding: 0px;
    display: inline-block;
}
::ng-deep .nav-tabs>li {
    float: left;
    list-style: none;
    width: 200px;
    max-width: 200px;
    text-align: center;
    border-bottom: 1px solid #efeff0;
}
::ng-deep .nav-tabs>li>a {
    padding: 9px 15px;
    display: inline-block;
    background: #efefef;
    color: #838587;
    -webkit-transition: all linear 0.15s;
    transition: all linear 0.15s;
    display: block;
    border: solid 1px #dedede;
    text-decoration: none;
    margin: 0px;
    border-radius: 0px;
}
::ng-deep .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #838587;
    background-color: #fff;
}
::ng-deep li.nav-item.inner-tab.ng-star-inserted {
    max-width: 130px;
}
::ng-deep .ssid-tab .tab-content>.active {
    display: block;
    text-align: center !important;
}
::ng-deep .pull-custom{
    margin-left: 25px;
    margin-top: 2px;
}
::ng-deep .pull-custom1{
    margin-left: 15px;
    margin-top: 2px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
 }
 input[type=number] {
    -moz-appearance: textfield;
 }
 .disabled{
    cursor: default;
    /* opacity: .4; */
   pointer-events:none;
 }
 