<!--/======================/WORK AREA/======================/-->
<div class="page-content-wrapper apList" >
    <!-- <div class="row">
        <div class="col-lg-12 col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Configuration</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Access Point</a></li>
                <li class="breadcrumb-item active">Registered AP</li>
            </ol>
        </div>
    </div> -->
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <div class="searchBar">
          <i class="icon icon-magnifying-glass"></i>
          <input type="text" placeholder="Search"  (keyup)="search($event)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="portlet light bordered">
          <div class="portlet-body">
            <div class="tabcontent table-responsive" style="display: block;">
              <div class="list-out">
                <div class="table-function">
                  <ul>
                    <li><span class="pageEntry">Show</span></li>
                    <li>
                      <select class="form-control caption-select" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="100">100</option>
                        <option [ngValue]="1000">1000</option>
                        <option [ngValue]="5000">5000</option>
                      </select>
                    </li>
                    <li><span class="pageEntry">entries</span></li>
                  </ul>
                  <ul class="table-function-right">
                    <li class="posreltive">
                      <a class="dropdown-toggle"
                         id="dropdownPopup"
                         data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false"
                         href="#" >Filter columns
                        <i aria-hidden="true" class="fa fa-chevron-down"></i>
                      </a>
  
                      <div class="drop-checkbox dropdown-menu" aria-labelledby="dropdownPopup" (click)="holdPopup($event)">
                        <ul>
                          <li class="dropdown-item" *ngFor="let i of coloumsObjects;let index = index">
                            <label class="checkbox">
                              <input  class="register-check" 
                                      type="checkbox"  
                                      [checked]= "i.checked" 
                                      (change)="selectColoums($event,index)"  
                                      [disabled]= "count == 4 && i.checked == true">
                              <div class="check" *ngIf="i.checked"></div>
                              <span class="check-label">{{i.name}}</span>
                            </label>
                          </li>
  
                        </ul>
                      </div>
                    </li>
                    <li><a  href="javascript:void(0);" 
                            class="disable-selection" 
                            (click)="EditAp()" 
                            id="edit-btn"><i class="icon icon-edit"></i> Edit</a></li>
                  </ul>
                </div>
  
  
                <table
                  class="display theme record_table table table-striped table-sort"
                  cellspacing="0"
                  width="100%"
                  [mfData]="data"
                  #mf="mfDataTable"
                >
                  <thead>
                  <tr class="table-head">
                    <th >
                      <label class="checkbox">
                        <input type="checkbox" (change)="selectAll($event)" id="selectAllCheck">
                        <div class="check"></div>
                      </label></th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[0].checked) == true">
                      <mfDefaultSorter by="ap_name">
                                                  <span>AP Name
                                                      <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='ap_name' && _sortOrder=='asc' }"></i>
                                                      <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='ap_name' && _sortOrder=='desc' }"></i>
                                                  </span>
                      </mfDefaultSorter>
                    </th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[1].checked) == true">
                        <mfDefaultSorter by="ap_location">
                                                    <span>Location
                                                        <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='ap_location' && _sortOrder=='asc' }"></i>
                                                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='ap_location' && _sortOrder=='desc' }"></i>
                                                    </span>
                        </mfDefaultSorter>
                      </th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[2].checked) == true">
                      <mfDefaultSorter by="ap_ip">
                                                  <span>IP Address
                                                      <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='ap_ip' && _sortOrder=='asc' }"></i>
                                                      <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='ap_ip' && _sortOrder=='desc' }"></i>
                                                  </span>
                      </mfDefaultSorter>
                    </th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[3].checked) == true">
                      <mfDefaultSorter by="ap_mac">
                                                  <span>MAC Address
                                                      <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='ap_mac' && _sortOrder=='asc' }"></i>
                                                      <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='ap_mac' && _sortOrder=='desc' }"></i>
                                                  </span>
                      </mfDefaultSorter>
                    </th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[4].checked) == true">
                      <mfDefaultSorter by="ap_group">
                                                  <span>Group Name
                                                      <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='ap_group' && _sortOrder=='asc' }"></i>
                                                      <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='ap_group' && _sortOrder=='desc' }"></i>
                                                  </span>
                      </mfDefaultSorter>
                    </th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[5].checked) == true">
                      <mfDefaultSorter by="active_clients">
                                                  <span>No. of Clients
                                                      <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='active_clients' && _sortOrder=='asc' }"></i>
                                                      <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='active_clients' && _sortOrder=='desc' }"></i>
                                                  </span>
                      </mfDefaultSorter>
                    </th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[6].checked) == true">
                      <mfDefaultSorter by="ap_model">
                                                    <span>AP Model
                                                        <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='ap_model' && _sortOrder=='asc' }"></i>
                                                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='ap_model' && _sortOrder=='desc' }"></i>
                                                    </span>
                      </mfDefaultSorter>
                    </th>
                    <th style="text-align:  center;" *ngIf="(coloumsObjects[7].checked) == true">
                      <mfDefaultSorter by="status">
                                                  <span>Status
                                                      <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='status' && _sortOrder=='asc' }"></i>
                                                      <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': _sortBy=='status' && _sortOrder=='desc' }"></i>
                                                  </span>
                      </mfDefaultSorter>
                    </th>
  
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    class="table-body"
                    *ngFor="let item of mf.data | paginate: {itemsPerPage: rowsOnPage , currentPage: page};let activeIndex = index"
                    (dblclick)="double_click_event($event,item,activeIndex)">
                    <td>
                      <label class="checkbox">
  
                        <input type="checkbox"
                               class="register-table-check"
                               value="{{item.ap_mac}}"
                               name="{{item.ap_mac | noColon}}"
                               (change)="checkboxClick(item,$event)">
  
                        <div class="check"></div>
                      </label>
                    </td>
                    <td style="text-align:  center;" *ngIf="(coloumsObjects[0].checked) == true">{{item.ap_name}}</td>
                    <td style="text-align:  center;" *ngIf="(coloumsObjects[1].checked) == true">{{item.ap_location}}</td>
                    <td style="text-align:  center;" *ngIf="(coloumsObjects[2].checked) == true">{{item.ap_ip}}</td>
                    <td style="text-align:  center;" *ngIf="(coloumsObjects[3].checked) == true">{{item.ap_mac}}</td>
                    <td style="text-align:  center;" *ngIf="(coloumsObjects[4].checked) == true">{{item.ap_group}}</td>
                    <td style="text-align:  center;" *ngIf="(coloumsObjects[5].checked) == true">{{item.active_clients}}</td>
                    <td style="text-align:  center;" *ngIf="(coloumsObjects[6].checked) == true">{{item.ap_model}}</td>
  
                    <td style="text-align:  center;" class="status" *ngIf="(coloumsObjects[7].checked) == true">
                      <span class="{{item.status==1?'online':'offline'}}">{{item.status==1?'Online':'Offline'}}</span>
                    </td>
  
                  </tr>
  
                  <!-- Default row to be shown where there is no data to show -->
                  <tr class="table-body" *ngIf="mf.data.length == 0">
                    <td colspan="8" style="text-align: center;">No APs registered to the system. Please try again after some time</td>
                  </tr>
  
                  <!-- The showing 10 of 10 items text-->
                  <tr class="page-detail-area" *ngIf="mf.data.length !== 0">
                    <td colspan="8">
                       <div class="entry-count text-left"  style="float:left;"><span>Showing {{showingfrom}} to {{showingto}} of {{dataLength}} entries</span></div>
                                   
                                        <div class="cpagination">
                                        <span *ngIf="data  && data.length > rowsOnPage" [class.button-disabled]="firstarrowStatus" class="first" (click)="goToPage(1)"><<</span>
                                        <pagination-controls (pageChange)="getNext($event)" maxSize="9"
                                      directionLinks="true"
                                      autoHide="true"
                                      previousLabel=""
                                      nextLabel=""
                                      screenReaderPaginationLabel="Pagination"
                                      screenReaderPageLabel="page"
                        ></pagination-controls>
                        <span *ngIf="data && data.length > rowsOnPage" [class.button-disabled]="lastarrowStatus" class="last" (click)="goToPage(Math.ceil(data.length/rowsOnPage))">>></span></div>
                        
                                        </td>
                  </tr>
  
                  </tbody>
                </table>
              </div><!-- /list-out-->
            </div>
          </div>
        </div><!-- /portlet-->
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-6 col-sm-6"><div class="entry-count text-left"><span>Showing 1 to 6 of 6 entries</span></div></div>
        <div class="col-lg-6 col-sm-6">
            <div class="text-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div> -->
    <div class="row  regApList" >
      <div class="col-lg-12 col-sm-12" *ngIf="ifEdit">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption">
              <span>{{AP_name}}</span>
            </div>
          </div>
          <div class="portlet-body">
              <div class="form-group row">
                  <label class="col-md-2 col-form-label text-right">Auto RF for 2.4G</label>
                  <div class="col-lg-5 col-sm-11">
                      <label class="switch">
                          <input type="checkbox" [checked]="autoRF_2dot4g" (click)="autoRFSwitch('2dot4g')">
                          <span class="slider round">
                              <i class="enable switch-status">Enable</i>
                              <i class="disable switch-status">Disable</i>
                          </span>
                      </label>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 col-form-label text-right">Auto RF for 5G</label>
                  <div class="col-lg-5 col-sm-11">
                      <label class="switch">
                          <input type="checkbox" [checked]="autoRF_5g" (click)="autoRFSwitch('5g')">
                          <span class="slider round">
                              <i class="enable switch-status">Enable</i>
                              <i class="disable switch-status">Disable</i>
                          </span>
                      </label>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-6 col-sm-11 col-md-offset-4">
                      <input type="reset" value="Cancel" class="btn btn-cancel btn-large" style="margin-right: 15px;" (click)="cancelBtn()">
                      <input type="submit" value="Save" [disabled]="!isDataChanged" class="btn btn-theme btn-large" (click)="onSubmit()">
                  </div>
              </div>
          </div>
        </div><!-- /portlet-->
      </div>
    </div>

  </div>
  <!--/===/WORK AREA END/===/-->
  