<div class="page-content-wrapper page-content-stats">
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="portlet">
        <div class="text-right" style="padding-right: 20px;">
          <div class="dropdown scrollableList graph btn btn-theme rounded">
            <a href="#" class="dropdown-toggle selectedOption disabled" id="dropdownMenuButton" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Export <i
              class="icon icon-export icon-before icon-export"></i></a>
            <div class="dropdown-menu this-list" aria-labelledby="dropdownMenuButton">
              <ul>
                <li><a class="dropdown-item" href="#">CSV</a></li>
                <li><a class="dropdown-item" href="#">PDF</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span>System Information</span>
          </div>
        </div>
        <div class="portlet-body table-responsive">
          <table class="table-responsive display theme table record_table table-striped table-sort " cellspacing="0"
                 width="100%" [mfData]="data" #mf="mfDataTable">
            <thead>
            <tr class="table-head">
              <th>
                <span>System Name</span>
              </th>
              <th>
                <span>IP Address</span>
              </th>
              <th>
                <span>MAC Address</span>
              </th>
              <th>
                <span>Serial No.</span>
              </th>
              <th>
                <span>Image Version</span>
              </th>
              <th>
                <!-- <mfDefaultSorter by="model_number"> -->
                <span>Model No.</span>

              </th>
              <th>
                <span>HW Vendor</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-body" *ngFor="let item of mf.data">
              <td>{{item.system_name}}</td>
              <td>{{item.system_ip_address}}</td>
              <td>{{item.system_mac_address}}</td>
              <td>{{item.serial_no}}</td>
              <td>{{item.system_version}}</td>
              <td>{{item.model_number}}</td>
              <td>HFCL</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span>Redundancy</span>
          </div>
        </div>
        <div class="portlet-body">
          <table class="display theme table record_table table-striped table-sort text-center"
                 cellspacing="0"
                 width="100%"
                 [mfData]="data"
                 #mf2="mfDataTable">
            <thead>
            <tr class="table-head text-center">
              <th class="text-center">
                <span>IP Address</span>
              </th>
              <th class="text-center">
                <span>MAC Address</span>
              </th>
              <th class="text-center">
                <span>Status</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-body text-center" *ngFor="let item2 of mf2.data">
              <td>{{item2.redundant_ip_address}}</td>
              <td>{{item2.redundant_mac_address}}</td>
              <td class="status">
                <span
                  [ngClass]="{'online': item2.redundant_sys_status==true,'offline': item2.redundant_sys_status==false}"
                  *ngIf="item2.redundant_sys_status!='-'">{{item2.redundant_sys_status == true?'Online':'Offline'}}
                </span>
                <span *ngIf="item2.redundant_sys_status=='-'">-</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span>EMS Information</span>
          </div>
        </div>
        <div class="portlet-body">
          <table class="display theme table record_table table-striped table-sort text-center" cellspacing="0"
                 width="100%" [mfData]="data" #mf3="mfDataTable">
            <thead class="text-center">
            <tr class="table-head text-center">
              <th>
                <span>Server IP Address</span>
              </th>
              <th class="text-center">
                <span>Status</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-body text-center" *ngFor="let item3 of mf3.data">
              <td>{{item3.ems_ip}}</td>
              <td class="status">
                <span [ngClass]="{'online': item3.ems_status==true,'offline': item3.ems_status==false}"
                      *ngIf="item3.ems_status!='-'">{{item3.ems_status == true?'Online':'Offline'}}</span>
                <span *ngIf="item3.ems_status=='-'">-</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span>Others</span>
          </div>
        </div>
        <div class="portlet-body">
          <table class="display theme table record_table table-striped table-sort text-center" cellspacing="0"
                 width="100%" [mfData]="data" #mf4="mfDataTable">
            <thead>
            <tr class="table-head">
              <th>
                <span>Total CVM</span>
              </th>
              <th>
                <span>No. of Active CVM</span>
              </th>
              <th>
                <span>No. of Groups</span>
              </th>
              <th>
                <span>No. of APs</span>
              </th>
              <th>
                <span>No. of Online APs</span>
              </th>
              <th>
                <span>No. of Clients</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-body text-center" *ngFor="let item4 of mf4.data">
              <td>-</td>
              <td>-</td>
              <td>{{item4.total_group}}</td>
              <td>{{item4.total_ap}}</td>
              <td>{{item4.active_ap}}</td>
              <td>{{item4.total_client}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
