 <!--/======================/WORK AREA/======================/-->
 <div class="page-content-wrapper">
  <!--<div class="row">
      <div class="col-lg-12 col-sm-12">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Configuration</a></li>
              <li class="breadcrumb-item"><a href="#">Group</a></li>
              <li class="breadcrumb-item"><a href="#">SSID Configuration</a></li>
              <li class="breadcrumb-item active">SSID List</li>
          </ol>
      </div>
  </div>-->
  <div class="row">
      <div class="col-lg-5 col-sm-12">
          <div class="searchBar">
              <i class="icon icon-magnifying-glass"></i>
              <input type="text" placeholder="Search" id="search-text" (keyup)="search($event)">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div class="portlet light bordered">
              <div class="portlet-body">
                  <div class="table-responsive">
                      <div class="table-function">
                          <ul>
                              <li><span class="pageEntry">Show</span></li>
                              <li>
                                <select class="form-control caption-select" [(ngModel)]="rowsOnPage">
                                  <option [ngValue]="20">20</option>
                                  <option [ngValue]="100">100</option>
                                  <option [ngValue]="1000">1000</option>
                                  <option [ngValue]="5000">5000</option>
                                </select>
                              </li>
                              <li><span class="pageEntry">entries</span></li>
                            </ul>
                          <ul class="table-function-right">
                              <li (click)="editMacAclProfile()"><a style="cursor: pointer;"><i class="icon icon-edit"></i> Edit</a></li>
                              <li (click)="ProfileMac()"><a style="cursor: pointer;"><i class="icon icon-rubbish-bin"></i> Delete</a></li>
                          </ul>
                      </div>
                      <table id="example" class="display theme table record_table table-striped table-sort text-center" cellspacing="0" width="100%" [mfData]="Data" #mf="mfDataTable">
                          <thead>
                              <tr class="table-head">
                                  <th><label class="checkbox"><input type="checkbox"  id="selectAllCheck" (change)=selectAllMacProfile()><div class="check"></div></label></th>
                                  <th class="text-left" *ngIf="(coloumsObjects[0].checked) == true">
                                      <mfDefaultSorter by="mac_acl_profile_name">
                                      <span>ACL Profile Name
                                          <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='mac_acl_profile_name' && _sortOrder=='asc' }"></i>
                                          <i class="up icon icon-up-arrow-1"  [ngClass]="{'activeIcon': _sortBy=='mac_acl_profile_name' && _sortOrder=='desc' }"></i>
                                      </span>
                                      </mfDefaultSorter>
                                  </th>
                                  <th class="text-center" *ngIf="(coloumsObjects[0].checked) == true">
                                      <mfDefaultSorter by="no_of_ssid">
                                      <span>No. of Associated SSID
                                          <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='no_of_ssid' && _sortOrder=='asc' }"></i>
                                        <i class="up icon icon-up-arrow-1"  [ngClass]="{'activeIcon': _sortBy=='no_of_ssid' && _sortOrder=='desc' }"></i>
                                      </span>
                                    </mfDefaultSorter>
                                  </th>
                                  <!-- <th class="text-center" *ngIf="(coloumsObjects[0].checked) == true">
                                      <mfDefaultSorter by="associated_ap">
                                      <span>No. of Associated AP
                                          <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='associated_ap' && _sortOrder=='asc' }"></i>
                                        <i class="up icon icon-up-arrow-1"  [ngClass]="{'activeIcon': _sortBy=='associated_ap' && _sortOrder=='desc' }"></i>
                                      </span>
                                    </mfDefaultSorter>
                                  </th> -->
                                  <th class="text-center" *ngIf="(coloumsObjects[0].checked) == true">
                                      <mfDefaultSorter by="policy">
                                      <span>No. of mac address
                                          <!-- <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': _sortBy=='policy' && _sortOrder=='asc' }"></i>
                                        <i class="up icon icon-up-arrow-1"  [ngClass]="{'activeIcon': _sortBy=='policy' && _sortOrder=='desc' }"></i> -->
                                      </span>
                                    </mfDefaultSorter>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="table-body" *ngFor="let item of mf.data | paginate: {itemsPerPage: rowsOnPage , currentPage: page};let activeIndex = index" (dblclick)="double_click_event($event,item,activeIndex)" >
                                  <td><label class="checkbox"><input class="mac-check" type="checkbox" [checked]=isAllMacProfileSelected [value]="item.mac_acl_profile_id" (change)=ProfilecheckboxClick($event,item)><div class="check"></div></label></td>
                                  <td class="text-left">{{item.mac_acl_profile_name}}</td>
                                  <td>{{item.no_of_ssid}}</td>
                                  <!-- <td>{{item.associated_ap}}</td> -->
                                  <td >
                                      {{ item.trus_macs?.length || '0' }}
                                  </td>
                              </tr>
                              <tr class="table-body" *ngIf="mf.data.length == 0">
                                  <td colspan="6" style="text-align: center;">No data found</td>
                                </tr>
                                <tr class="page-detail-area" *ngIf="mf.data.length != 0">
                                  <td colspan="10">
                                    <div class="entry-count text-left" style="float:left;"><span  *ngIf="dataLength>0">Showing {{showingfrom}} to {{showingto}} of {{dataLength}} entries</span></div>
                                        <div class="cpagination">
                                      <span *ngIf="Data  && Data.length > rowsOnPage" [class.button-disabled]="firstarrowStatus" class="first" (click)="goToPage(1)"><<</span>
                                      <pagination-controls (pageChange)="getNext($event)" maxSize="9"
                                          directionLinks="true"
                                          autoHide="true"
                                          previousLabel=""
                                          nextLabel=""
                                          screenReaderPaginationLabel="Pagination"
                                          screenReaderPageLabel="page"
                                        ></pagination-controls>
                                        <span *ngIf="Data && Data.length > rowsOnPage" [class.button-disabled]="lastarrowStatus" class="last" (click)="goToPage(Math.ceil(Data.length/rowsOnPage))">>></span></div>
                                  </td>
                                </tr>
                          </tbody>
                      </table>
                      <div class="text-right"><a (click)=showAddProfile() class="btn btn-theme">Add Profile</a></div>
                  </div>
              </div>
          </div><!-- /portlet-->
      </div>
  </div>
  <div class="row" style="display:none;">
      <div class="col-lg-6 col-sm-6"><div class="entry-count text-left"><span>Showing 1 to 6 of 6 entries</span></div></div>
      <div class="col-lg-6 col-sm-6">
          <div class="text-right">
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                          <span class="sr-only">Previous</span>
                      </a>
                      </li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">»</span>
                          <span class="sr-only">Next</span>
                      </a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
  <div class="row" [hidden]=addProduct [formGroup]="macForm" >
      <div class="col-lg-12 col-sm-12">
          <div class="portlet light bordered">
              <div class="portlet-title">
                  <div class="caption">
                      <span [hidden]=!isEdit>Update ACL Group</span>
                      <span [hidden]=isEdit>Add ACL Group</span>
                  </div>
              </div>
              <div class="portlet-body">
                  <div class="form-group row">
                      <label class="col-md-2 col-form-label text-right">ACL Profile Name</label>
                      <div class="col-lg-5 col-sm-11">
                          <input type="text" class="form-control" formControlName="mac_acl_profile_name" id="mac_acl_profile_name" (keyup)=EditChangeName()>
                          <div *ngIf="macForm.get('mac_acl_profile_name').invalid && (macForm.get('mac_acl_profile_name').dirty || macForm.get('mac_acl_profile_name').touched)">
                            <div class="text-danger pull-left" *ngIf="macForm.get('mac_acl_profile_name').errors.required">Name is required.</div>
                            <div class="text-danger pull-left" *ngIf="macForm.get('mac_acl_profile_name').errors.minlength && !macForm.get('mac_acl_profile_name').errors.pattern">Minimum 2 character</div>
                            <div class="text-danger pull-left" *ngIf="macForm.get('mac_acl_profile_name').errors.maxlength">Maximum 25 character allowed</div>
                            <div class="text-danger pull-left" *ngIf="macForm.get('mac_acl_profile_name').errors.pattern && !macForm.get('mac_acl_profile_name').errors.emoji">Should not start with a space</div>
                            <div class="text-danger pull-left" *ngIf="macForm.get('mac_acl_profile_name').errors.emoji">Should not allow symbols.</div>
                            <div class="text-danger pull-left" *ngIf="macForm.get('mac_acl_profile_name').errors.spaceatend && !macForm.get('mac_acl_profile_name').errors.pattern">Should not end with a space!</div>
                          </div>
                      </div>
                      <div>
                        <app-right-tooltip [toolTipText]="getToolTipText('group_macacl_configuration_add_mac_group_name')"></app-right-tooltip>
                      </div>
                  </div>
                  <div class="form-group row" [hidden]=Isnew>
                      <label class="col-md-2 col-form-label text-right">MAC Address List</label>
                      <div class="col-lg-2 col-sm-11">
                          <select name="mac-address-list" class="form-control" formControlName="merge" id="merge" >
                              <option value="merge" >Add</option>
                              <option value="add" >Replace</option>
                          </select>
                      </div>
                      <div>
                        <app-right-tooltip [toolTipText]="getToolTipText('group_macacl_configuration_add_mac_address_list')"></app-right-tooltip>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-2 col-form-label text-right">&nbsp;</label>
                      <div class="col-lg-1 col-sm-11">
                          <label class="btn btn-default btn-large" style="margin: 0;">
                              Browse <input type="file" hidden formControlName="fileBrowse" id="fileBrowse"  (change)="FileChange($event)">
                          </label>
                      </div>
                      <div class="col-lg-3 col-sm-11">
                          <div>
                              <app-right-tooltip [toolTipText]="getToolTipText('group_macacl_configuration_add_mac_File_upload')"></app-right-tooltip>
                            </div>
                          <a href="assets/images/macs.txt" download class="char-limit">&nbsp;Download Sample</a>
                      </div>
                  </div>
                  <div class="form-group row" [hidden]=true>
                      <label class="col-md-2 col-form-label text-right">ACL Policy</label>
                      <div class="col-lg-2 col-sm-11">
                          <select name="acl-policy" class="form-control" formControlName="policy" id="policy" >
                              <option value="Allow" >Allow</option>
                              <option value="Block" >Block</option>
                          </select>
                      </div>
                      <div>
                        <app-right-tooltip [toolTipText]="getToolTipText('group_macacl_configuration_add_mac_ACL_policy')"></app-right-tooltip>
                      </div>
                  </div>
                  <div class="row moving-td">
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <div class="table-function">
                                <ul class="table-function-right">
                                    <li><a (click)="deleteTrustMac()"><i class="icon icon-rubbish-bin"></i> Delete</a></li>
                                </ul>
                            </div>
                            <table id="example" class="display theme table record_table table-striped table-sort text-center" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th><label class="checkbox"><input type="checkbox" formControlName="isAllMac" id="isAllMac" (change)=selectAllMac()><div class="check" ></div></label></th>
                                        <th class="text-left">
                                            <span>Clients
                                                <!-- <i class="down icon icon-download-arrow"></i>
                                                <i class="up icon icon-up-arrow-1"></i> -->
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr class="table-body">
                                        <td><label class="checkbox"><input type="checkbox"><div class="check"></div></label></td>
                                        <td class="text-left">30-58-84-D4-S1</td>
                                    </tr>-->
                                    <tr class="table-body" *ngFor="let item of CLientMacList">
                                        <td><label class="checkbox"><input type="checkbox" (change)=setValue($event,item) [checked]="item.IsSelect||isAllMacSelected"><div class="check"></div></label></td>
                                        <td class="text-left">{{item.MacId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 noPosition">
                        <div class="text-center moving-btn">
                            <a (click)=MoveClientMacs() class="btn btn-theme-inverse"><i class="icon icon-left-double-arrows" style="margin: 0;"></i> Move</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <div class="table-function" style="margin-bottom: 0px!important">&nbsp;</div>
                            <table id="example" class="display theme table record_table table-striped table-sort text-center" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="table-head">
                                        <th><label class="checkbox"><input type="checkbox" [checked]="isAllClientSelected" id="selctallclient" (change)=selectAllClientSelected()><div class="check"></div></label></th>
                                        <th class="text-left">
                                            <span>Connected Clients
                                          <!-- <i class="down icon icon-download-arrow"></i>
                                                <i class="up icon icon-up-arrow-1"></i> -->
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr class="table-body" *ngFor="let item of ConnectedDeviceList">
                                      <td><label class="checkbox"><input type="checkbox" (change)=setValue($event,item) [checked]="item.IsSelect||isAllClientSelected"><div class="check"></div></label></td>
                                      <td class="text-left">{{item.MacId}}</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                      <input type="text" class="form-control" formControlName="new_mac" id="new_mac" (keyup.enter)="addNewMac()">
                      <div *ngIf="macForm.get('new_mac').invalid && (macForm.get('new_mac').dirty || macForm.get('new_mac').touched)">
                        <div class="text-danger pull-left" *ngIf="macForm.get('new_mac').errors.invalidmac">
                          Enter a valid mac address.
                        </div>
                      </div>
                  </div>
                  <div class="col-md-1">
                      <input type="button" value="Add" class="form-control btn btn-theme-inverse" (click)=addNewMac()>
                  </div>
              </div>
                  <div class="form-group row">
                      <div class="col-lg-6 col-md-offset-3 text-center">
                          <input type="button" value="Reset" class="btn btn-cancel btn-large" style="margin-right: 15px;" (click)=" resetAddProfile()" >
                          <input type="button" [hidden]=isEdit (click)="SaveProfile()" value="Save" class="btn btn-theme btn-large" [disabled]="(macForm.get('mac_acl_profile_name').status == 'INVALID')" >
                          <input type="button"  [hidden]=!isEdit (click)="SaveProfile()" value="Update" class="btn btn-theme btn-large" [disabled]="!(isEditEnable)">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/===/WORK AREA END/===/-->
