<div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
  <div class="logo"  *ngFor="let user of users">
      <a hef="home.html"><img src="..\..\assets\images\{{user.name | slice:0:1}}.jpg" alt="merkery_logo" class="hidden-xs hidden-sm">
          <span >{{user.name}}</span>
       
      </a>
  </div>
  <div class="navi">
      <ul>
          <li routerLink="/dashboard" routerLinkActive="active" ><a href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
          <li routerLink="/users" routerLinkActive="active" ><a href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
          <!--li><a href="javascript:void(0)"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Workflow</span></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Statistics</span></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calender</span></a></li>
          <li routerLink="/adduser" routerLinkActive="active"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li-->
          <li routerLink="/adduser" routerLinkActive="active"><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
          <li ><a href="javascript:void(0)" (click)="logout();"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
      </ul>
  </div>
</div>