<!--/======================/WORK AREA/======================/-->
<div class="page-content-wrapper page-content-stats">
  <!-- <div class="row">
  <div class="col-lg-12 col-sm-12">
  <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0);">Monitor</a></li>
  <li class="breadcrumb-item"><a href="javascript:void(0);">Access Point</a></li>
  <li class="breadcrumb-item"><a href="javascript:void(0);">Statistics</a></li>
  <li class="breadcrumb-item" [ngClass]="{'active': !drawn }"><a href="javascript:void(0);" (click)="goback(selectedtab)">{{breadcrumbVal}}</a></li>
  <li class="breadcrumb-item" [ngClass]="{'active': drawn }" *ngIf="drawn">{{selectedVal}}</li>
  </ol>
  </div>
  </div> -->
  <div class="row">
    <div class="col-lg-5 col-sm-12">
      <app-serachbar [apiVal]="apiVal" [searchKey]="searchKey" [searchVal]="searchVal"
                     (emitResult)="emitResult($event)"></app-serachbar>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="upgrade-tabs">
        <div class="tabs-top">
          <ul class="tab-links" style="float: left;">
            <li class="active"><a href="#tab1" (click)="setView('group','');tabType = 'group'">Group</a></li>
            <li><a href="#tab2" (click)="setView('accessPoint','');tabType = 'accessPoint'">Access Point</a></li>
          </ul>
          <div class="text-right pull-right" style="padding-right: 20px; margin-top: -5px;">
            <div class="dropdown scrollableList graph btn btn-theme rounded" disabled="disabled">
              <a href="#" class="dropdown-toggle selectedOption " id="dropdownMenuButton" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Export <i
                class="icon icon-export icon-before icon-export"></i></a>
              <div class="dropdown-menu this-list" aria-labelledby="dropdownMenuButton">
                <ul>
                  <li><a class="dropdown-item" href="#">CSV</a></li>
                  <li><a class="dropdown-item" href="#">PDF</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="tab-content">
          <div id="tab1" class="group upgrade-tab active" *ngIf="tabType == 'group'">
            <div class="stats-head">
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light head">
                    <div class="portlet-title" *ngIf="isGroupSelected">
                      <div class="pull-left back-btn">
                        <a href="javascript:void(0)" class="btn" (click)="goback('gp')">
                          <i class="icon icon-left-arrow-1"></i>
                        </a>
                        <div class="caption">
                          <i class="icon icon-four-squares"></i> <span class="text-bold">{{selector_name}}</span>
                        </div>
                      </div>

                      <div class="stats-body table-view">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="portlet light">
                              <div class="portlet-body" *ngIf="group_details">

                                <table
                                  class="display theme record_table table table-striped table-sort table-param"
                                  cellspacing="0"
                                  width="70%"
                                  style="margin-bottom: 0;
                                  width: 70%;">

                                  <tbody>
                                  <tr>
                                    <th class="border-bottom">Created By</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{group_details.created_by}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">Created Time</th>
                                    <td width="10%">&nbsp;</td>
                                    <!--<td>20/7/2017 <span class="time">08:15</span></td>-->
                                    <td>{{group_details.created_time}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">No. of AP Models</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>-</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">No. of Connected AP</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{group_details.connected_ap}}</td>
                                  </tr>
                                  <tr>
                                    <th>No. of Connected Clients</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{group_details.clients}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /stats-body/table-view-->
                    </div>

                    <div class="table-function" *ngIf="filterOption">
                      <!--<ul>
                        <li>
                          <span class="pageEntry">Show</span>
                        </li>
                        <li>
                          <select class="form-control caption-select" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="20">20</option>
                            <option [ngValue]="100">100</option>
                            <option [ngValue]="1000">1000</option>
                            <option [ngValue]="5000">5000</option>
                          </select>
                        </li>
                        <li>
                          <span class="pageEntry">entries</span>
                        </li>
                      </ul>-->

                      <!--Customize column options for Group Table -->
                      <ul class="table-function-right">
                        <li class="posreltive">
                          <a class="dropdown-toggle"
                             id="dropdownPopup"
                             data-toggle="dropdown"
                             aria-haspopup="true"
                             aria-expanded="false"
                             href="#">Filter Columns
                            <i aria-hidden="true" class="fa fa-chevron-down"></i>
                          </a>

                          <div class="drop-checkbox dropdown-menu"
                               aria-labelledby="dropdownPopup"
                               (click)="holdPopup($event)">
                            <ul>
                              <li class="dropdown-item" *ngFor="let i of coloumsGroupObjects;let index = index">
                                <label class="checkbox">
                                  <input class="register-check"
                                         type="checkbox"
                                         checked="i.checked"
                                         (change)="selectGroupColoums($event,index)"
                                         [disabled]="gpCount == 1 && i.checked == true">

                                  <div class="check"></div>

                                  <span class="check-label">{{i.name}}</span>
                                </label>
                              </li>

                            </ul>
                          </div>
                        </li>
                        <!--customize column option ends-->
                      </ul>
                    </div>
                    <table
                      id="example"
                      class="display theme table record_table table-striped table-sort text-center"
                      cellspacing="0"
                      width="100%"
                      [mfData]="grp_data"
                      #mf="mfDataTable"
                      *ngIf="!isGroupSelected"
                    >
                      <thead>
                      <tr class="table-head customRowHeight" style="text-align:  center;">

                        <th class="text-left tableHeight " style="text-align:  center;"
                            *ngIf="(coloumsGroupObjects[0].checked) == true">
                          <mfDefaultSorter by="group_name">
                                            <span>Group Name
                                                <i class="down icon icon-download-arrow"
                                                   [ngClass]="{'activeIcon': _sortBy=='group_name' && _sortOrder=='asc' }"></i>
                                                <i class="up icon icon-up-arrow-1"
                                                   [ngClass]="{'activeIcon': _sortBy=='group_name' && _sortOrder=='desc' }"></i>
                                            </span>
                          </mfDefaultSorter>
                        </th>

                        <th class="text-center tableHeight" *ngIf="(coloumsGroupObjects[1].checked) == true">
                          <mfDefaultSorter by="vap_count">
                                            <span>No. of SSID
                                                <i class="down icon icon-download-arrow"
                                                   [ngClass]="{'activeIcon': _sortBy=='vap_count' && _sortOrder=='asc' }"></i>
                                                <i class="up icon icon-up-arrow-1"
                                                   [ngClass]="{'activeIcon': _sortBy=='vap_count' && _sortOrder=='desc' }"></i>
                                            </span>
                          </mfDefaultSorter>
                        </th>

                        <th class="text-center tableHeight" *ngIf="(coloumsGroupObjects[2].checked) == true">
                          <mfDefaultSorter by="no_of_ap">
                                            <span>No. of Associated AP
                                                <i class="down icon icon-download-arrow"
                                                   [ngClass]="{'activeIcon': _sortBy=='no_of_ap' && _sortOrder=='asc' }"></i>
                                                <i class="up icon icon-up-arrow-1"
                                                   [ngClass]="{'activeIcon': _sortBy=='no_of_ap' && _sortOrder=='desc' }"></i>
                                            </span>
                          </mfDefaultSorter>
                        </th>

                        <th class="text-center tableHeight" *ngIf="(coloumsGroupObjects[3].checked) == true">
                          <mfDefaultSorter by="clients">
                                            <span>No. of Connected Clients
                                                <i class="down icon icon-download-arrow"
                                                   [ngClass]="{'activeIcon': _sortBy=='clients' && _sortOrder=='asc' }"></i>
                                                <i class="up icon icon-up-arrow-1"
                                                   [ngClass]="{'activeIcon': _sortBy=='clients' && _sortOrder=='desc' }"></i>
                                            </span>
                          </mfDefaultSorter>
                        </th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr class="table-body table-clickable customRowHeight " style="text-align:  center;"
                          *ngFor="let item of mf.data   | paginate: {itemsPerPage: rowsOnPage , currentPage: page};"
                          (dblclick)="openDetailsPage(item,'group')">
                        <td *ngIf="(coloumsGroupObjects[0].checked) == true">{{item.group_name}}</td>
                        <td *ngIf="(coloumsGroupObjects[1].checked) == true">{{item.vap_count}}</td>
                        <td *ngIf="(coloumsGroupObjects[2].checked) == true">{{item.no_of_ap}}</td>
                        <td *ngIf="(coloumsGroupObjects[3].checked) == true"><span
                          class="text-theme">{{item.clients}}</span></td>
                        <!--<td>
                            <a href="javascript:void(0)" class="stat-btn" (click)="drawgraphs(item.group_id,item.group_name,'gp')"><i class="icon icon-bar-chart btn-icon"></i></a>
                        </td>-->
                        <!--aaaaa-->
                      </tr>

                      <tr class="table-body" *ngIf="mf.data.length == 0">
                        <td colspan="8" style="text-align: center">No Group registered to the system. Please try again
                          after some time...
                        </td>
                      </tr>

                      <!--<tr class="page-detail-area" *ngIf="mf.data.length !== 0">
                        <td colspan="6">
                          <div class="entry-count text-left" style="float:left;"><span *ngIf="dataLength>0">Showing {{showingfrom}} to {{showingto}} of {{dataLength}} entries</span>
                          </div>
                         <div class="cpagination">
                                      <span *ngIf="data  && data.length > rowsOnPage" [class.button-disabled]="firstarrowStatus" class="first" (click)="goToPage(1)"><<</span>
                                      <pagination-controls (pageChange)="getNext($event)" maxSize="9"
                                    directionLinks="true"
                                    autoHide="true"
                                    previousLabel=""
                                    nextLabel=""
                                    screenReaderPaginationLabel="Pagination"
                                    screenReaderPageLabel="page"
                      ></pagination-controls>
                      <span *ngIf="data && data.length > rowsOnPage" [class.button-disabled]="lastarrowStatus" class="last" (click)="goToPage(Math.ceil(data.length/rowsOnPage))">>></span></div>

                        </td>
                      </tr>-->

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div><!-- /stats-head-->
          </div>
          <div id="tab2" class="access-point upgrade-tab" *ngIf="tabType == 'accessPoint'">
            <div class="stats-head">
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light head">
                    <div class="portlet-title" *ngIf="isApSelected">
                      <div class="pull-left back-btn">
                        <a href="javascript:void(0)" class="btn" (click)="goback('ap')">
                          <i class="icon icon-left-arrow-1"></i>
                        </a>
                        <div class="caption">
                          <i class="icon icon-router-signal"></i> <span class="text-bold">{{selector_name}}</span>
                        </div>
                      </div>
                      <div class="stats-body table-view">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="portlet light">
                              <div class="portlet-body" *ngIf="AP_details">
                                <table class="display theme record_table table table-striped table-sort table-param"
                                       cellspacing="0" width="70%" style="width: 70%; margin-bottom: 0;">
                                  <tbody>
                                  <tr>
                                    <th class="border-bottom">Firmware Version</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.firmware_version}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">Model Number</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.model_number}}</td>
                                    <!-- <span class="time">8YHRT2</span> -->
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">Board Type</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.board_type}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">AP MAC</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.ap_mac}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">Status</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.status ? 'Online': 'Offline'}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">IP Address</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.ip_address }}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">No. of Connected Clients</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.client}}</td>
                                  </tr>

                                  <tr>
                                    <th class="border-bottom">Group Name</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.group_name}}</td>
                                  </tr>

                                  <tr>
                                    <th class="border-bottom">No. of SSIDs</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.no_of_ssid}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">Uptime</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.uptime}}</td>
                                  </tr>
                                  <tr>
                                    <th class="border-bottom">Timezone</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.timezone}}</td>
                                  </tr>

                                  <tr>
                                    <th class="border-bottom">2.4 GHz Channel</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.channel_2_4}}</td>
                                  </tr>
                                  <tr>
                                    <th>5 GHz Channel</th>
                                    <td width="10%">&nbsp;</td>
                                    <td>{{AP_details.channel_5}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /stats-body/table-view-->
                    </div>


                    <div class="list-out">
                      <div class="table-function" *ngIf="filterOption">
                        <ul>
                          <li>
                            <span class="pageEntry">Show</span>
                          </li>
                          <li>
                            <select class="form-control caption-select" [(ngModel)]="rowsOnPage">
                              <option [ngValue]="20">20</option>
                              <option [ngValue]="100">100</option>
                              <option [ngValue]="1000">1000</option>
                              <option [ngValue]="5000">5000</option>
                            </select>
                          </li>
                          <li>
                            <span class="pageEntry">entries</span>
                          </li>
                        </ul>


                        <!--Customize column options for APColumns Table -->
                        <ul class="table-function-right" *ngIf="filterOption">
                          <li class="posreltive">
                            <a class="dropdown-toggle"
                               id="dropdownPopup"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false"
                               href="#">Filter Columns
                              <i aria-hidden="true" class="fa fa-chevron-down"></i>
                            </a>

                            <div class="drop-checkbox dropdown-menu"
                                 aria-labelledby="dropdownPopup"
                                 (click)="holdPopup($event)">
                              <ul>
                                <li class="dropdown-item" *ngFor="let i of coloumsAPObjects;let index = index">
                                  <label class="checkbox">
                                    <input class="register-check"
                                           type="checkbox"
                                           checked="i.checked"
                                           (change)="selectAPColoums($event,index)"
                                           [disabled]="apCount == 3 && i.checked == true">

                                    <div class="check"></div>

                                    <span class="check-label">{{i.name}}</span>
                                  </label>
                                </li>

                              </ul>
                            </div>
                          </li>
                          <!--customize column option ends-->
                        </ul>
                      </div>

                      <table class="display theme record_table table table-striped table-sort"
                             cellspacing="0"
                             width="100%"
                             [mfData]="ap_data"
                             #mf2="mfDataTable"
                             *ngIf="!isApSelected"
                      >
                        <thead>

                        <tr class="table-head customRowHeight">
                          <th class="tableHeight" *ngIf="(coloumsAPObjects[0].checked) == true">
                            <mfDefaultSorter by="ap_name">
                        <span>AP Name
                        <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': isSortedByMeAsc_name }"></i>
                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': isSortedByMeDesc_name }"></i>
                        </span>
                            </mfDefaultSorter>
                          </th>
                          <th class="tableHeight" style="text-align:  center;"
                              *ngIf="(coloumsAPObjects[1].checked) == true">
                            <mfDefaultSorter by="ap_ip">
                        <span>IP Address
                        <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': isSortedByMeAsc_ip }"></i>
                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': isSortedByMeDesc_ip }"></i>
                        </span>
                            </mfDefaultSorter>
                          </th>
                          <th class="tableHeight" style="text-align:  center;"
                              *ngIf="(coloumsAPObjects[2].checked) == true">
                            <mfDefaultSorter by="ap_mac">
                        <span>MAC Address
                        <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': isSortedByMeAsc_mac }"></i>
                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': isSortedByMeDesc_mac }"></i>
                        </span>
                            </mfDefaultSorter>
                          </th>
                          <th class="tableHeight" style="text-align:  center;"
                              *ngIf="(coloumsAPObjects[3].checked) == true">
                            <mfDefaultSorter by="ap_group">
                        <span>Group Name
                        <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': isSortedByAsc_gname }"></i>
                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': isSortedByMeDesc_gname }"></i>
                        </span>
                            </mfDefaultSorter>
                          </th>
                          <th class="tableHeight" style="text-align:  center;"
                              *ngIf="(coloumsAPObjects[4].checked) == true">
                            <mfDefaultSorter by="active_clients">
                        <span>No. of Clients
                        <i class="down icon icon-download-arrow"
                           [ngClass]="{'activeIcon': isSortedByMeAsc_client }"></i>
                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': isSortedByMeDesc_client }"></i>
                        </span>
                            </mfDefaultSorter>
                          </th>
                          <th class="tableHeight" style="text-align:  center;"
                              *ngIf="(coloumsAPObjects[5].checked) == true">
                            <mfDefaultSorter by="ap_model">
                        <span>AP Model
                        <i class="down icon icon-download-arrow" [ngClass]="{'activeIcon': isSortedByMeAsc_model }"></i>
                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': isSortedByMeDesc_model }"></i>
                        </span>
                            </mfDefaultSorter>
                          </th>
                          <th class="tableHeight" style="text-align:  center;"
                              *ngIf="(coloumsAPObjects[6].checked) == true">
                            <mfDefaultSorter by="status">
                        <span>Status
                        <i class="down icon icon-download-arrow"
                           [ngClass]="{'activeIcon': isSortedByMeAsc_status }"></i>
                        <i class="up icon icon-up-arrow-1" [ngClass]="{'activeIcon': isSortedByMeDesc_status }"></i>
                        </span>
                            </mfDefaultSorter>
                          </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-body table-clickable customRowHeight"
                            *ngFor="let item2 of mf2.data  | paginate: {itemsPerPage: rowsOnPage , currentPage: page};"
                            (dblclick)="openDetailsPage(item2,'accessPoint')">
                          <td style="text-align:  center;" *ngIf="(coloumsAPObjects[0].checked) == true">
                            {{item2.ap_name}}
                          </td>
                          <td style="text-align:  center;" *ngIf="(coloumsAPObjects[1].checked) == true">
                            {{item2.ap_ip}}
                          </td>
                          <td style="text-align:  center;" *ngIf="(coloumsAPObjects[2].checked) == true">
                            {{item2.ap_mac}}
                          </td>
                          <td style="text-align:  center;" *ngIf="(coloumsAPObjects[3].checked) == true">
                            {{item2.ap_group}}
                          </td>
                          <td style="text-align:  center;" *ngIf="(coloumsAPObjects[4].checked) == true">
                            {{item2.active_clients}}
                          </td>
                          <td style="text-align:  center;" *ngIf="(coloumsAPObjects[5].checked) == true">
                            {{item2.ap_model}}
                          </td>
                          <td style="text-align:  center;" class="status" *ngIf="(coloumsAPObjects[6].checked) == true">
                                  <span class="{{item2.status==1?'online':'offline'}}">
                                    {{item2.status==1?'Online':'Offline'}}
                                  </span>
                          </td>
                        </tr>
                        <tr class="table-body" *ngIf="mf2.data.length == 0">
                          <td colspan="8" style="text-align: center">No APs registered to the system. Please try again
                            after some time...
                          </td>
                        </tr>


                        <!--aaaa-->
                        <tr class="page-detail-area">
                          <td colspan="8">
                            <div class="entry-count text-left" style="float:left;"><span *ngIf="dataLength2>0">Showing {{showingfrom2}} to {{showingto2}} of {{dataLength2}} entries</span>
                            </div>
                            <div class="cpagination">
                              <span *ngIf="ap_data  && ap_data.length > rowsOnPage"
                                    [class.button-disabled]="firstarrowStatus" class="first"
                                    (click)="goToPage(1)"><<</span>
                              <pagination-controls (pageChange)="getNext($event)" maxSize="9"
                                                   directionLinks="true"
                                                   autoHide="true"
                                                   previousLabel=""
                                                   nextLabel=""
                                                   screenReaderPaginationLabel="Pagination"
                                                   screenReaderPageLabel="page"
                              ></pagination-controls>
                              <span *ngIf="ap_data && ap_data.length > rowsOnPage"
                                    [class.button-disabled]="lastarrowStatus" class="last"
                                    (click)="goToPage(Math.ceil(ap_data.length/rowsOnPage))">>></span></div>

                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END of Working area-->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--/===/WORK AREA END/===/-->
