 <div>  
                <div class="portlet light bordered stats custom-portlet">
                    <div class="portlet-title custom-title">
                        <div class="caption">
                            <span>Clients (SSID wise)</span>
                        </div>
                        <div class="text-right pull-right top-btns-right">
                            <ul>
                                <!-- <li>
                                    <div class="dropdown scrollableList graph btn btn-theme-inverse rounded">
                                        <a href="#" class="dropdown-toggle selectedOption disabled" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Live Data <i class="icon icon-arrow-point-to-down"></i></a>
                                        <div class="dropdown-menu this-list" aria-labelledby="dropdownMenuButton">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Last 2 hrs</a></li>
                                                <li><a class="dropdown-item" href="#">Last 1 day</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="dropdown">
                                        <a  href="javascript:void(0)" (click)="showDialogsetting = !showDialogsetting;openSetting('Clients (SSID wise)');"><i class="icon icon-settings"></i></a>
                                        <!--<div class="dropdown-menu this-list" aria-labelledby="dropdownMenuButton">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Setting 1</a></li>
                                                <li><a class="dropdown-item" href="#">Setting 2</a></li>
                                            </ul>
                                        </div>-->
                                    </div>
                                </li>
                                <li>
                                   
                                        <a href="javascript:void(0)" (click)="showDialog = !showDialog;drawGraph('clientsSsid','Clients (SSID wise)');"><i class="fa fa-arrows-alt icon"></i></a>
                                    
                                </li>
                                <li>
                                    <a href="#"><i class="icon icon-cancel"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="portlet-body clientsSsid">
                        <div style="height: 240px;" [chart]="clientsSsid" *ngIf="chartBoolStatus"></div>
                         <!--<div style="height: 250px;" id="clientsSsid"></div>-->
                         <div style="height: 240px;" *ngIf="!chartBoolStatus"><p class="no-data" style="font-size: 13px;">No clients connected to the SSID</p></div>
                 
                    </div>
                </div>
            </div>
     
<app-modal-dialog [(visible)]="showDialog" (visibleChange)="visibleChange()" [headerName]="titleText">
<div class="graphClass"  [chart]="clientsSsid" *ngIf="showDialog && graphdata =='clientsSsid' && chartBoolStatus"></div>
 <div *ngIf="!chartBoolStatus"><p class="no-data" style="font-size: 13px;">No clients connected to the SSID</p></div>
                 
</app-modal-dialog>

<app-modal-setting [visible]="showDialogsetting" (visibleDisable)="closeSettingPopup($event)" [headerName]="titleText"  [autoRefresh]="initialtimerInterval" (modelSettingFun)="modelSettingFun($event)">

 </app-modal-setting>